---
import Layout from "../layouts/Layout.astro"
import MailchimpForm from "../components/MailchimpForm.astro"
---

<Layout>
  <section class="wrapper">
		<div class="content">
			<p class="opening">Opening Summer 2025</p>
			<img class="logo" src="/images/chrysanthemum-logo.svg" alt="Chrysanthemum - Upcycled & Uncommon Goods" />
			<p class="subheading">Upcycled & Uncommon Goods</p>
			<MailchimpForm />
		</div>
	</section>
</Layout>

<style lang="scss">
  .wrapper {
    background: #ef9575 url('/images/background-shop.webp') no-repeat center center;
		background-size: cover;
    width: 100vw;
    min-height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
  }
	.content {
		flex: 1;
		padding: 30px;
		width: 100vw;
		.opening, .subheading {
			text-align: center;
			text-transform: uppercase;
			letter-spacing: 0.1em;
			font-size: 1.2rem;
			margin: 20px 0;
			@media (min-width: 600px) {
				letter-spacing: 0.15em;
				font-size: 1.6rem;
			}
		}
	}
	.logo {
		width: 100%;
		height: auto;
		margin: 0 auto;
		display: block;
	}
</style>
