<div id="mc_embed_shell">
  <div id="mc_embed_signup">
    <form
      action="https://shopchrysanthemum.us2.list-manage.com/subscribe/post?u=bc620af3a1a7f4244efaf024e&id=6f17b2e2a0&f_id=002face0f0"
      method="post"
      id="mc-embedded-subscribe-form"
      name="mc-embedded-subscribe-form"
      class="validate"
      target="_blank"
    >
      <div>
        <div class="mc-field-group">
          <div class="floating-field">
            <input
            placeholder="you@email.com"
            type="email"
            name="EMAIL"
            class="required email"
            id="mce-EMAIL"
            required="true"
            value=""
            />
            <label for="mce-EMAIL"
            >Email Address</label
            >
          </div>
        </div>
        <div id="mce-responses"">
          <div
            class="response"
            id="mce-error-response"
            style="display: none"
          ></div>
          <div
            class="response"
            id="mce-success-response"
            style="display: none"
          ></div>
        </div>
        <div aria-hidden="true" style="position: absolute; left: -5000px">
          /* real people should not fill this in and expect good things - do not
          remove this or risk form bot signups */
          <input
            type="text"
            name="b_bc620af3a1a7f4244efaf024e_6f17b2e2a0"
            tabindex="-1"
            value=""
          />
        </div>
        <div class="optionalParent">
          <div class="clear foot">
            <input
              type="submit"
              name="subscribe"
              id="mc-embedded-subscribe"
              class="button"
              value="Subscribe"
            />
          </div>
        </div>
      </div>
    </form>
  </div>
  <script
    type="text/javascript"
    src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"
  ></script>
  <script type="text/javascript">
    ;(function ($) {
      window.fnames = new Array()
      window.ftypes = new Array()
      fnames[0] = "EMAIL"
      ftypes[0] = "email"
      fnames[1] = "FNAME"
      ftypes[1] = "text"
      fnames[2] = "LNAME"
      ftypes[2] = "text"
      fnames[3] = "ADDRESS"
      ftypes[3] = "address"
      fnames[4] = "PHONE"
      ftypes[4] = "phone"
      fnames[5] = "BIRTHDAY"
      ftypes[5] = "birthday"
      fnames[6] = "COMPANY"
      ftypes[6] = "text"
    })(jQuery)
    var $mcj = jQuery.noConflict(true)
  </script>
</div>


  <style lang="scss">
    div.mce_inline_error{
          background: rgba(255, 0, 0, 0.1) !important;
        }
    #mc_embed_signup {
      background: transparent;
      max-width: 400px;
      clear: left;
      margin: 30px auto;
      text-align: center;
      @media (min-width: 600px) {
        margin: 60px auto 30px;
      }
      h2 {
        color: #231f20;
        font-size: 1.3rem;
        margin-bottom: 20px;
        letter-spacing: 0.1em;
        font-weight: 400; 
        text-transform: uppercase;
      }
      .floating-field {
        display: flex;
        flex-direction: column-reverse;
        text-align: left;
        

        label, input {
          transition: all 0.2s;
          touch-action: manipulation;
        }

        input {
          text-align: center;
          font-size: 1.5em;
          border: 0;
          border-bottom: 1px solid #231f20;
          background: transparent;
          font-family: inherit;
          -webkit-appearance: none;
          border-radius: 0;
          padding: 0;
          cursor: text;
          &::placeholder{
            opacity: 0;
            display: none;
          }
        }

        input:focus {
          outline: 0;
        }

        label {
          text-transform: uppercase;
          letter-spacing: 0.05em;
          text-align: center;
        }
        input:placeholder-shown + label {
          cursor: text;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          transform-origin: center bottom;
          transform: translate(0, 2.125rem) scale(1.5);
        }
        ::placeholder {
          opacity: 0;
          transition: inherit;
        }

        input:focus::placeholder {
          opacity: 1;
        }

        input:not(:placeholder-shown) + label,
        input:focus + label {
          transform: translate(0, 0) scale(1);
          cursor: pointer;
        }
      }
      .button {
        background: #231f20;
        color: #c0ba7e;
        border: 2px solid transparent;
        padding: 10px 20px;
        margin: 20px 0;
        font-size: 1.3rem;
        text-transform: uppercase;
        letter-spacing: 0.15em;
        cursor: pointer;
        transition: background 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
        &:hover {
          background: #c0ba7e;
          color: #231f20;
          border: 2px solid #231f20;
        }
      }
    }
    </style>